.scroll::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}
.scroll::-webkit-scrollbar-thumb {
    background: rgba(171, 194, 101, 0.1);
    border-radius: 25px;
}
.scroll::-webkit-scrollbar-track {
    background: transparent;
}
